* {
    margin: 0;
    padding: 0;
    background-color:rgb(88, 157, 88);
    font-family: sans-serif;
    overflow-y:none;
}

#container {
    display:block;
    height: 80vw;
    width: 80vw;
    margin: 0 auto;
    max-width: 80vh;
    max-height: 80vh;
}

#main-logo-circle {
    display:block;
    background-color: #eee;
    height:100%;
    width:100%;
    margin: calc(50vh - 50%) auto;
    border-radius: 100%;
    position: relative;
}

#line-top, #line-bottom {
    display:block;
    height: 13%;
    width: 58%;
    position:absolute;
    left: 20.25%;
}

#line-top {
    top: 16.666%;
}

#line-bottom {
    bottom: 16.666%;
}

#outer-circle {
    background-color: rgb(88, 157, 88);
    height: 50%;
    width: 50%;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
}

#inner-circle {
    height:50%;
    width:50%;
    background-color:#eee;
    border-radius: 100%;
    margin: 25% auto;
}

#me {
    position:absolute;
    bottom:0;
    right:0;
    background-color:rgb(64, 123, 64);
    z-index: 100;
    display:block;
}

#me p{
    background-color:rgb(64, 123, 64);
    padding:10px;
}

#me #diag {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 38px 38px;
    border-color: transparent transparent rgb(48, 98, 48) transparent;
    background-color: transparent;
    position:absolute;
    bottom: 0;
    left: -38px;
}

